@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Average');

*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Average', serif;
	color: #B52C35;
	line-height: 1.5em;
}
header {
	background: black;
	text-align: center;
	color: #B52C35;
	padding:20px;
}
#slogan {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
}
nav a {
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	color: #B52C35;
}
li {
	display: inline;
	text-decoration: none;
	text-align: right;
	padding: 20px;
}
h2, h4 {
	font-family: 'Fjalla One', sans-serif;
	color: #B52C35;
}
.main {
	background-image: url(../images/coffeeshop.jpg);
	font-family: 'Average', serif;
	min-height: 500px;
    background-size: cover;
    padding:20px;
    display: block;
    text-align: center;
}
.menus {
	background-color: #fbf7f5;
	width: 30em;
	padding: 20px;
}
.menus p {
	font-family: 'Average', serif;
	color: black;
	font-size: 15px
	max-width: 30em ;
	line-height: 1.5em;
	font-weight: 300;
}
.events h3 {
	text-align: center;
}
.events img{
	width: 200px
}
.events p{
	color: black;
	line-height: 1.5em;
}
footer {
	text-align: right;
	padding: 20px;
}
#footer {
	float: left;
}